@import url("https://fonts.googleapis.com/css?family=PT+Sans|Quicksand");
* { box-sizing: border-box; }

iframe { text-align: center; width: 60%; height: auto; border: none; }

body { margin: 0 auto; font-family: "Quicksand"; background-color: black; }

.container { width: 100%; max-width: 800px; text-align: center; background-color: transparent; box-shadow: 0 0 0 5px black; }

.song { margin: 30px 30px; }

.song-author, .song-title { font-weight: 900; margin: 10px auto; }

.song-verse { margin: 15px auto; font-weight: 600; color: white; padding: 0 30px; }

.song-verse:after { content: ""; border-bottom: 3px solid white; display: block; margin: auto; padding-top: 9px; width: 6%; }

.song-verse .test { display: -ms-flexbox; display: flex; -ms-flex-wrap: wrap; flex-wrap: wrap; }
/*# sourceMappingURL=style.css.map */