@import url('https://fonts.googleapis.com/css?family=PT+Sans|Quicksand');

* {
    box-sizing: border-box;
    //border: 1px solid red;
}

iframe {
    text-align: center;
    width: 60%;
    height: auto;
    border: none;
}

body {
    margin: 0 auto;
    font-family: "Quicksand";
    background-color: black;
}

.container {
    width: 100%;
    max-width: 800px;
    text-align: center;
    background-color: transparent;
    box-shadow: 0 0 0 5px black;
}

.song {
    margin: 30px 30px;
}

.song-author,
.song-title {
    // text-align: left;
    font-weight: 900;
    // width: 30%;
    margin: 10px auto;
}

.song-verse {
    margin: 15px auto;
    // width: 30%;
    // text-align: left;
    font-weight: 600;
    color: white;
    padding: 0 30px;
    &:after {
        content: "";
        border-bottom: 3px solid white;
        display: block;
        margin: auto;
        padding-top: 9px;
        width: 6%;
    }

    .test {
        display: flex;
        flex-wrap: wrap;
    }
}